.status {
    font-weight: bold;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}
.friendItem {
    display: block;
    box-shadow: 2px 2px 6px 6px rgb(201, 211, 213);
    border: 2px solid #1c1b1b;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;

}
.friendList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 40px;
    margin: 0;
}